.coll-0{width: 0%;min-height: 1px;float: left;position: relative;}
.coll-1{width: 1%;min-height: 1px;float: left;position: relative;}
.coll-2{width: 2%;min-height: 1px;float: left;position: relative;}
.coll-3{width: 3%;min-height: 1px;float: left;position: relative;}
.coll-4{width: 4%;min-height: 1px;float: left;position: relative;}
.coll-5{width: 5%;min-height: 1px;float: left;position: relative;}
.coll-6{width: 6%;min-height: 1px;float: left;position: relative;}
.coll-7{width: 7%;min-height: 1px;float: left;position: relative;}
.coll-8{width: 8%;min-height: 1px;float: left;position: relative;}
.coll-9{width: 9%;min-height: 1px;float: left;position: relative;}
.coll-10{width: 10%;min-height: 1px;float: left;position: relative;}
.coll-11{width: 11%;min-height: 1px;float: left;position: relative;}
.coll-12{width: 12%;min-height: 1px;float: left;position: relative;}
.coll-13{width: 13%;min-height: 1px;float: left;position: relative;}
.coll-14{width: 14%;min-height: 1px;float: left;position: relative;}
.coll-15{width: 15%;min-height: 1px;float: left;position: relative;}
.coll-16{width: 16%;min-height: 1px;float: left;position: relative;}
.coll-17{width: 17%;min-height: 1px;float: left;position: relative;}
.coll-18{width: 18%;min-height: 1px;float: left;position: relative;}
.coll-19{width: 19%;min-height: 1px;float: left;position: relative;}
.coll-20{width: 20%;min-height: 1px;float: left;position: relative;}
.coll-21{width: 21%;min-height: 1px;float: left;position: relative;}
.coll-22{width: 22%;min-height: 1px;float: left;position: relative;}
.coll-23{width: 23%;min-height: 1px;float: left;position: relative;}
.coll-24{width: 24%;min-height: 1px;float: left;position: relative;}
.coll-25{width: 25%;min-height: 1px;float: left;position: relative;}
.coll-26{width: 26%;min-height: 1px;float: left;position: relative;}
.coll-27{width: 27%;min-height: 1px;float: left;position: relative;}
.coll-28{width: 28%;min-height: 1px;float: left;position: relative;}
.coll-29{width: 29%;min-height: 1px;float: left;position: relative;}
.coll-30{width: 30%;min-height: 1px;float: left;position: relative;}
.coll-31{width: 31%;min-height: 1px;float: left;position: relative;}
.coll-32{width: 32%;min-height: 1px;float: left;position: relative;}
.coll-33{width: 33%;min-height: 1px;float: left;position: relative;}
.coll-34{width: 34%;min-height: 1px;float: left;position: relative;}
.coll-35{width: 35%;min-height: 1px;float: left;position: relative;}
.coll-36{width: 36%;min-height: 1px;float: left;position: relative;}
.coll-37{width: 37%;min-height: 1px;float: left;position: relative;}
.coll-38{width: 38%;min-height: 1px;float: left;position: relative;}
.coll-39{width: 39%;min-height: 1px;float: left;position: relative;}
.coll-40{width: 40%;min-height: 1px;float: left;position: relative;}
.coll-41{width: 41%;min-height: 1px;float: left;position: relative;}
.coll-42{width: 42%;min-height: 1px;float: left;position: relative;}
.coll-43{width: 43%;min-height: 1px;float: left;position: relative;}
.coll-44{width: 44%;min-height: 1px;float: left;position: relative;}
.coll-45{width: 45%;min-height: 1px;float: left;position: relative;}
.coll-46{width: 46%;min-height: 1px;float: left;position: relative;}
.coll-47{width: 47%;min-height: 1px;float: left;position: relative;}
.coll-48{width: 48%;min-height: 1px;float: left;position: relative;}
.coll-49{width: 49%;min-height: 1px;float: left;position: relative;}
.coll-50{width: 50%;min-height: 1px;float: left;position: relative;}
.coll-51{width: 51%;min-height: 1px;float: left;position: relative;}
.coll-52{width: 52%;min-height: 1px;float: left;position: relative;}
.coll-53{width: 53%;min-height: 1px;float: left;position: relative;}
.coll-54{width: 54%;min-height: 1px;float: left;position: relative;}
.coll-55{width: 55%;min-height: 1px;float: left;position: relative;}
.coll-56{width: 56%;min-height: 1px;float: left;position: relative;}
.coll-57{width: 57%;min-height: 1px;float: left;position: relative;}
.coll-58{width: 58%;min-height: 1px;float: left;position: relative;}
.coll-59{width: 59%;min-height: 1px;float: left;position: relative;}
.coll-60{width: 60%;min-height: 1px;float: left;position: relative;}
.coll-61{width: 61%;min-height: 1px;float: left;position: relative;}
.coll-62{width: 62%;min-height: 1px;float: left;position: relative;}
.coll-63{width: 63%;min-height: 1px;float: left;position: relative;}
.coll-64{width: 64%;min-height: 1px;float: left;position: relative;}
.coll-65{width: 65%;min-height: 1px;float: left;position: relative;}
.coll-66{width: 66%;min-height: 1px;float: left;position: relative;}
.coll-67{width: 67%;min-height: 1px;float: left;position: relative;}
.coll-68{width: 68%;min-height: 1px;float: left;position: relative;}
.coll-69{width: 69%;min-height: 1px;float: left;position: relative;}
.coll-70{width: 70%;min-height: 1px;float: left;position: relative;}
.coll-71{width: 71%;min-height: 1px;float: left;position: relative;}
.coll-72{width: 72%;min-height: 1px;float: left;position: relative;}
.coll-73{width: 73%;min-height: 1px;float: left;position: relative;}
.coll-74{width: 74%;min-height: 1px;float: left;position: relative;}
.coll-75{width: 75%;min-height: 1px;float: left;position: relative;}
.coll-76{width: 76%;min-height: 1px;float: left;position: relative;}
.coll-77{width: 77%;min-height: 1px;float: left;position: relative;}
.coll-78{width: 78%;min-height: 1px;float: left;position: relative;}
.coll-79{width: 79%;min-height: 1px;float: left;position: relative;}
.coll-80{width: 80%;min-height: 1px;float: left;position: relative;}
.coll-81{width: 81%;min-height: 1px;float: left;position: relative;}
.coll-82{width: 82%;min-height: 1px;float: left;position: relative;}
.coll-83{width: 83%;min-height: 1px;float: left;position: relative;}
.coll-84{width: 84%;min-height: 1px;float: left;position: relative;}
.coll-85{width: 85%;min-height: 1px;float: left;position: relative;}
.coll-86{width: 86%;min-height: 1px;float: left;position: relative;}
.coll-87{width: 87%;min-height: 1px;float: left;position: relative;}
.coll-88{width: 88%;min-height: 1px;float: left;position: relative;}
.coll-89{width: 89%;min-height: 1px;float: left;position: relative;}
.coll-90{width: 90%;min-height: 1px;float: left;position: relative;}
.coll-91{width: 91%;min-height: 1px;float: left;position: relative;}
.coll-92{width: 92%;min-height: 1px;float: left;position: relative;}
.coll-93{width: 93%;min-height: 1px;float: left;position: relative;}
.coll-94{width: 94%;min-height: 1px;float: left;position: relative;}
.coll-95{width: 95%;min-height: 1px;float: left;position: relative;}
.coll-96{width: 96%;min-height: 1px;float: left;position: relative;}
.coll-97{width: 97%;min-height: 1px;float: left;position: relative;}
.coll-98{width: 98%;min-height: 1px;float: left;position: relative;}
.coll-99{width: 99%;min-height: 1px;float: left;position: relative;}
.coll-100{width: 100%;min-height: 1px;float: left;position: relative;}
@media only screen and (max-width: 700px) {
.coll-0,
.coll-1,
.coll-2,
.coll-3,
.coll-4,
.coll-5,
.coll-6,
.coll-7,
.coll-8,
.coll-9,
.coll-10,
.coll-11,
.coll-12,
.coll-13,
.coll-14,
.coll-15,
.coll-16,
.coll-17,
.coll-18,
.coll-19,
.coll-20,
.coll-21,
.coll-22,
.coll-23,
.coll-24,
.coll-25,
.coll-26,
.coll-27,
.coll-28,
.coll-29,
.coll-30,
.coll-31,
.coll-32,
.coll-33,
.coll-34,
.coll-35,
.coll-36,
.coll-37,
.coll-38,
.coll-39,
.coll-40,
.coll-41,
.coll-42,
.coll-43,
.coll-44,
.coll-45,
.coll-46,
.coll-47,
.coll-48,
.coll-49,
.coll-50,
.coll-51,
.coll-52,
.coll-53,
.coll-54,
.coll-55,
.coll-56,
.coll-57,
.coll-58,
.coll-59,
.coll-60,
.coll-61,
.coll-62,
.coll-63,
.coll-64,
.coll-65,
.coll-66,
.coll-67,
.coll-68,
.coll-69,
.coll-70,
.coll-71,
.coll-72,
.coll-73,
.coll-74,
.coll-75,
.coll-76,
.coll-77,
.coll-78,
.coll-79,
.coll-80,
.coll-81,
.coll-82,
.coll-83,
.coll-84,
.coll-85,
.coll-86,
.coll-87,
.coll-88,
.coll-89,
.coll-90,
.coll-91,
.coll-92,
.coll-93,
.coll-94,
.coll-95,
.coll-96,
.coll-97,
.coll-98,
.coll-99,
{
width: 100%;
}
}